<div id="page" class="flex items-center justify-center h-screen w-screen">
  <div class="flex flex-col w-screen items-center justify-center gap-2">
    <label class="input w-5/12" style="background-color: adarkgray">
      <i class="fa-solid fa-robot"></i>
      <input
        type="text"
				id="te"
        class="grow"
				name="term"
				hx-post="/v1/api/llm/gen"
				hx-trigger="keyup[keyCode==13]" 
				hx-swap="innerHTML" 
				hx-target="#page" 
        placeholder="Your site is just one sentence away:)"
      />
      <kbd class="kbd kbd-m">Enter</kbd>
    </label>
    <button class="btn btn-soft" hx-post="/v1/api/llm/gen" hx-vals='js:{"term" : te.value}' hx-target="#page">generate</button>
  </div>

  <div class="absolute top-0 right-0 p-5">
    <label class="toggle text-base-content">
      <input
        type="checkbox"
        value="synthwave"
        class="theme-controller"
      />
      <i class="fa-solid fa-sun"></i>
      <i class="fa-solid fa-moon"></i>
    </label>
  </div>
</div>


