<div class="flex items-center justify-center h-screen w-screen">
  <div class="flex flex-col w-screen items-center justify-center gap-2">
    <label class="input w-5/12" style="background-color: adarkgray">
      <input
        type="text"
        class="grow"
        placeholder="Your site is just one sentence away:)"
      />
      <kbd class="kbd kbd-m">Enter</kbd>
    </label>
    <button class="btn btn-soft">generate</button>
  </div>
  

  <div class="absolute top-0 right-0 p-5">
    <label class="toggle text-base-content">
      <input type="checkbox" name="" value="synthwave" class="theme-controller" />
      <i class="fa-solid fa-sun"></i>
      <i class="fa-solid fa-moon"></i>
    </label>
  </div>
</div>
